@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<div class="container-xl">
    <header class="mt-3">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Esta cuenta ha sido bloqueada, inténtalo de nuevo más tarde..</p>
    </header>
</div>
